
<div class="row text-center no-gutters flex-shrink-0">
    <div class="col">
        <button
            class="filter-btn online"
            [class.selected]="showOnline"
            (click)="setShowOnline(true)">
            <small>Online</small>
        </button>
    </div>
    <div class="col">
        <button
            class="filter-btn all"
            [class.selected]="!showOnline"
            (click)="setShowOnline(false)">
            <small>All</small>
        </button>
    </div>
</div>

<ul id="contact-list" class="m-0 list-unstyled flex-shrink-1 flex-grow-1">

    <li
        class="media conversation-prev px-3 py-2"
        (click)="conversationOnClick(conv)"
        *ngFor="let conv of conversationsToShow()"
        [class.selected]="selectedConversation && conv.user.id === selectedConversation.user.id"
        [class.unseen]="!isConversationSeenBySelf(conv)">

        <div class="mr-3 align-self-start avatar-thumb-container">
            <img class="avatar-thumb rounded" src="{{ conv.user.avatar }}" alt="avatar">
            <div class="avatar-thumb-circle" *ngIf="conv.user.isOnline"></div>
        </div>

        <div class="media-body">
            <h6 class="m-0">{{ conv.user.name }}</h6>
            <div class="msg-prev" *ngIf="conv.messages.length > 0">
                <small>{{ getLastMessage(conv).content }}</small>
            </div>
        </div>

    </li>

</ul>

<div class="p-3 mt-auto flex-shrink-0">
    <input
        (keyup)="search($event.target.value)"
        class="form-control"
        type="text"
        placeholder="Search...">
</div>
