#contact-list {
    overflow-y: scroll;
}

#contact-list:hover::-webkit-scrollbar {
    width: 0.65rem;
}

#contact-list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.03);
}

#contact-list::-webkit-scrollbar {
    width: 0;
}

#contact-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
}

.conversation-prev {
    line-height: 1.2;
}

.conversation-prev:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.conversation-prev.selected {
    background-color: rgba(0, 0, 0, 0.03);
}

.conversation-prev.unseen {
    color: indianred;
}

.msg-prev {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0.5;
    word-break: break-word;
}


.filter-btn {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 2.5rem;
    border: 0;
    outline: none !important;
}

.filter-btn.online {
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.filter-btn.all {
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;    
}

.filter-btn.selected {
    opacity: 0.7;
    background-color:#fff;
    border: none;
}

.filter-btn:hover {
    cursor: pointer;
}

.avatar-thumb-container {
    position: relative;
}

.avatar-thumb {
    width: 64px;
}

.avatar-thumb-circle {
    position: absolute;
    bottom: -6%;
    right: -10%;
    border: solid 3px #FFF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #66D356;
}

.avatar-thumb::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #69b6d5;
}
