<div class="row header no-gutters">
    <div class="col">
        <div class="container p-0 mt-3">
            <h2>{{ title }}</h2>
        </div>
    </div>
</div>

<div class="row no-gutters main-section">
    <div class="col">

        <div class="my-3 p-0 d-flex container chat-main">
            <div class="flex-shrink-1 flex-grow-1 row no-gutters">

                <ng-template #welcomeScreen>

                    <div class="col d-flex flex-column justify-content-center">

                        <div class="text-center">
                            <h5 class="mb-0">Welcome to chat!</h5>
                            <p class="info-section-bio">
                                Please select a conversation
                            </p>
                        </div>

                    </div>
                    
                </ng-template>
    
                <app-conversation-window
                    *ngIf="selectedConversation; else welcomeScreen"
                    class="col d-flex flex-column chat-window">
                </app-conversation-window>
                
                <app-chat-nav class="col-3 border d-flex flex-column justify-content-start">
                </app-chat-nav>

            </div>
        </div>
            
    </div>
</div>
