.header {
    background-color: #FFF;
}
  
.main-section {
    background-color: #5B666F;
}

.chat-main {
    height: 705px;
    background-color: #FFF;
}

.chat-window {
    background-color: #D8DFE6;
}