<div class="msg-container">
    <div
        class="shadow-sm d-flex flex-column rounded"
        [class.msg-in]="msg.isIncoming"
        [class.msg-out]="!msg.isIncoming">
        <div
            class="py-2 px-3 d-flex justify-content-between rounded-top msg-out-info"
            [class.msg-out-info]="!msg.isIncoming"
            [class.msg-in-info]="msg.isIncoming">
            <span class="msg-username">
              {{ msg.authorName }}
            </span>
            <span class="msg-timestamp ml-3">
                <small>
                  {{ msg.dateSent | date:'shortTime' }}
                </small>
            </span>
        </div>
        <div
        class="py-2 px-3 rounded-bottom msg-content">
          {{ msg.content }}
        </div>
    </div>
</div>