.msg-container {
    width: 75%;
}

.msg-in-info {
    background-color: #C0CBD8;
}

.msg-out-info {
    background-color: #EACCB6;
}

.msg-username {
    opacity: 0.7;
}

.msg-timestamp {
    opacity: 0.4;
}

.msg-content {
    background-color: #F5F8FB;
    word-break: break-word;
}