.msg-container {
    width: 75%;
}

.msg-out {
    position: relative;
    margin-right: 0.7em;
}

.msg-in {
    position: relative;
    margin-left: 0.7em;
}

.msg-in::after {
    content: '';
    position: absolute;
    left: 0;
    top: 75%;
    width: 0;
    height: 0;
    border: 0.7rem solid transparent;
    border-right-color: #F5F8FB;
    border-left: 0;
    margin-top: -0.7rem;
    margin-left: -0.7rem;
}

.msg-out::after {
    content: '';
    position: absolute;
    right: 0;
    top: 75%;
    width: 0;
    height: 0;
    border: 0.7rem solid transparent;
    border-left-color: #F5F8FB;
    border-right: 0;
    margin-top: -0.7rem;
    margin-right: -0.7rem;
}

.msg-in-info {
    background-color: #C0CBD8;
}

.msg-out-info {
    background-color: #EACCB6;
}

.msg-username {
    opacity: 0.7;
}

.msg-timestamp {
    opacity: 0.4;
}

.msg-content {
    background-color: #F5F8FB;
    word-break: break-word;
}

